.DS_Store

api/wwwroot/**
!api/wwwroot/scratch.html
!api/wwwroot/favicon.ico

# node
node_modules/
typings/
npm-debug.log

# client-react
client-react/components/*.js
client-react.test/build
!client-react.test/build/client-react/styles/

Glense.Server/bin/
Glense.Server/obj/
DonationService.Tests/bin/
DonationService.Tests/obj/

# ops
ops/hosts
ops/config.yml
ops/*.retry

# other
*.js.map

# IDE
.idea/
.vs/

package-lock.json

.env
/tmp