html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial';
    height: 100%;
    overflow-x: hidden;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

#root {
    height: 100%;
    display: flex;
    min-height: 100vh;
}

.App {
    flex-grow: 1;
    width: 100%;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: black;
}

::-webkit-scrollbar {
    width: 0px;
    height: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(114, 113, 113);
    border-radius: 10px;
    height: 200px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

.category-btn:hover {
    background-color: #282828 !important;
    color: white !important;
}

.category-btn:hover span {
    color: white !important;
}

.react-player {
    width: 100% !important;
}

.search-bar {
    border: none;
    outline: none;
    width: 350px;
}

.category-btn {
    font-weight: bold !important;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    justify-content: start;
    cursor: pointer;
    background: transparent;
    outline: none;
    border: none;
    padding: 7px 15px;
    margin: 10px 0px;
    border-radius: 20px;
    transition: all 0.3s ease;
}

.App {
    background-color: hsl(0, 0%, 7%);
}

/* Tablet */
@media screen and (max-width: 1024px) {
    .search-bar {
        width: 280px;
    }
}

@media screen and (max-width: 900px) {
    .category-btn {
        margin: 10px;
    }
}

@media screen and (max-width: 800px) {
    .copyright {
        display: none !important;
    }
}

/* Mobile */
@media screen and (max-width: 600px) {
    .scroll-horizontal {
        overflow: auto !important;
    }

    .search-bar {
        width: 150px;
        background-color: transparent;
        padding-left: 10px;
        font-size: 0.85rem;
        color: hsla(0, 100%, 100%, 0.88);
        box-shadow: inset 0 1px 2px hsla(0, 0%, 0%, 0);
    }

    .category-btn {
        padding: 6px 12px;
        margin: 5px 0;
        font-size: 0.85rem;
    }
}

/* Small mobile */
@media screen and (max-width: 400px) {
    .search-bar {
        width: 120px;
        font-size: 0.8rem;
    }
}
