.channel-card-container {
    box-shadow: none !important;
    border-radius: 20px !important;
    width: 100% !important;
    max-width: 70% !important;
    margin: auto !important;
  }
  
  .channel-card-link {
    text-decoration: none !important;
  }
  
  .channel-card-content {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    color: #fff !important;
    gap: 5px !important;
  }
  
  .channel-card-media {
    border-radius: 50% !important;
    height: 180px !important;
    width: 180px !important;
  }
  
  .channel-card-title {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    font-size: 1.5rem !important;
  }
  
  .channel-card-info {
    color: gray !important;
    display: flex !important;
    flex-wrap: wrap !important;
    gap: 1rem !important;
    align-items: center !important;
    text-align: center !important;
  }
  
  .channel-card-description {
    color: gray !important;
    font-size: 14px !important;
    text-align: center !important;
    width: fit-content !important;
  }
  