.Navbar {
    position: sticky;
    top: 0;
    background-color: hsl(0, 0%, 7%);
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1000;
}

.navbar-container {
    width: 100%;
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: space-between;
}

.logo-container {
    display: flex;
    align-items: center;
    margin-left: 20px; 
}

.logo {
    width: 40px;
    height: 40px;
    display: inline-block; 
    vertical-align: middle; 
}

.logo-text {
    color: white;
    font-size: 13px; 
    font-weight: bold;
    margin-left: 8px;
    letter-spacing: 1px; 
    line-height: 40px;
}

.searchbar-container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.auth-container {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.navbar-option-stack {
    flex-direction: row !important;
    gap: 20px !important;
}

.navbar-option {
    white-space: nowrap !important;
    display: flex !important;
    align-items: center !important;
    color: gray !important;
    font-weight: bold !important;
}

.navbar-button {
    text-transform: none !important;
}
